body
{
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    font-family: Arial;
    font-size: 24px;
    background-color: beige;
    
}

#nav
{
    background-color: dimgrey;
}
#nav-wrapper
{
    
    margin: 0 auto;
    text-align: center;
    
}
#nav ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}
#nav ul li
{
    display: inline-block;
    padding: 5px;
    margin-top: 0px;
    margin-right: 60px;
}
#nav ul li:hover
{
    background-color: dimgray;
} 

#tab
{
	padding-left:200px;
}
#nav ul li a
{
    color: white;
    text-decoration: none;
}
#nav ul li a:hover
{
    color:wheat;
}
#nav ul li a:visted
{
    color: black;
    display: block;
    text-decoration: none;
}
#nav ul li:hover ul 
{
    display: block;
}
#nav ul ul 
{
    display: none;
    position: absolute;
    background-color: dimgrey;
    margin-top: 5px;
}

#nav ul ul li
{
    display:block;
    text-align: left;
}

#footer
{
   position:absolute;
   bottom:0;
    font-style: italic;
    font-size: 10px;
    color: beige;
    width:100%;
   height:80px;   /* Height of the footer */
   background-color:dimgrey;
}






